.container {
  /* position: relative; */
  padding: 0;
  margin: 0 !important;
  width: 100vw;
  height: 100vh;
}

.container > .bg-video {
  width: 100vw;
  height: 100vh;
}

#MainPage > .text {
  height: 100vh;
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  margin: 0 !important;
  background-color: #000;
  color: transparent !important;
  font-weight: 900;
  font-size: 10vw;
  font-family: sans-serif;
  mix-blend-mode: multiply;
  user-select: none;
  text-shadow: white 5px 0 0px;
}