.js-scroll-counter {
  height: 5vh;
  padding: 30vh 0;
  color: aliceblue;
  text-align: center;
}

#Testimonials {
  margin-bottom: 30vh;
}

.pepitaPerez {
  display: flex;
  width: 30vw;
  margin-top: 8vh;
  align-items: center;
  color: aliceblue;
}

.aos-all > div:nth-child(odd) {
  margin-left: 15vw;
}

.aos-all> div:nth-child(even) {
  margin-left: 65vw;
}

.pepitaPerez h3 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  margin-left: 15px;
  padding: 0;
}

.pepitaPerez img {
  width: 12vw;
}

.aos-all {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .js-scroll-counter {
    height: 10vh;
    padding-top: 15vh;
    padding-bottom: 30vh;
  }

  .aos-all > div:nth-child(odd) {
    margin-left: 10vw;
  }
  
  .aos-all> div:nth-child(even) {
    margin-left: 50vw;
  }
  
}
