
.swiper-wrapper {
  height: 80vh !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: black;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 20%;
  object-fit: contain !important;
}

.swiper-button-disabled {
  visibility: hidden !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: blue !important;
  font-weight: 900;
}

body {
  background: #000;
  color: #000;
}

.swiper {
  width: 100%;
  height: 80vh !important;
  margin-left: auto;
  margin-right: auto;
  /* background-color: red; */
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 100%;
  width: 100%;
  /* border: 5px solid red; */
}

.mySwiper {
  height: 25vh !important;
  box-sizing: border-box;
  padding: 10px 0;
  /* background-color: red !important; */
  /* border: 5px solid rgb(218, 7, 201); */

}

.mySwiper .swiper-slide {
  width: 25%;
  height: 30%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  background-color:black;
  /* border: 5px solid blue; */
}

.card {
  display: flex !important;
  flex-direction: column !important;
}

/* .linktestimonial {
  width: 90vw;
} */

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.linktestimonialslide {
  display: flex;
  width: 80vw;
} 

.linktestimonialText h2{
  color: rgb(5, 247, 66);
}

.linktestimonialText h3 {
  color: aliceblue;
}


@media (max-width: 764px) {
  .linktestimonialText h3 {
    font-size: 5vw;
    color: aliceblue;
    text-align: justify;
  }
}
